body{
    display:flex;
    justify-content:center;
    align-items:center;
    color:red;
}
.child2{
    margin-right:80px;
    margin-top: 50px;
    background-color: #144e6d ;
    height:450px;
    width:450px;
    flex:10em;
    border-radius:15px;
    /* additionally, equal width */
  
  padding: 1em;
  transform:translateX(3em);
}
body{
    background-color: black;  
}
input{
    height: 40px;
}
h1{
    font-size:35px;
    justify-content:center;
    color:white;
    transform:translateX(1.2em);
}
a{
    color:white;

}





